.principal {
    background : #CCCCCC;
    padding: 20px;  
}

.tituloPrincipal {
    padding-left: 30px;
}

#banner {
    width: 100%;
}

.tituloCentrado {
    text-align: center
}

p {
    text-align: center;
}

.items {
    font-style: italic;
    background: #aaffee;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 10%;
}

#mision {
    font-size: 20px;
}

em strong {
    color: red;
}

.diferenciales {
    background: #FFFFFF;
    padding: 30px;
}

h2 {
    text-align: center;
}

.imagenDiferenciales {

    width: 50%;
}